.card {
    list-style:disc ;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }

  .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(73, 184, 235);
    margin:3px;
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 2rem;
  }

  .actions {
    text-align: center;
  }

  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #25a3ec;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }

  .actions button:hover,
  .actions button:active {
    background-color: #25a3ec;
    border-color: #25a3ec;
    color: white;
  }

  .actions .button--alt {
    color:  #25a3ec;
  }

  .actions .button {
    background-color:  #25a3ec;
    color: white;
  }

  .close{
   display: flex;
   flex-direction: row-reverse;
   margin: 10px;
   margin-bottom: 15px;
  }