  .navbar{
   width: 100%;
   position: fixed;
   display: flex;
   justify-content: center;
 }

 .header { 
  margin-left: 45%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  gap: 8px;
}

.li {
  list-style-type: none;
  margin: 3px;
  padding: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 500;
}

.cart-button {
  margin-left: 50px;
  margin-right: 50px;
  background-color: brown;
 
}

 h1 {
    background-color: rgb(99, 97, 97);
    color: white;
    font-family: 'Times New Roman';
    font-size: 100px;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
 }

.li a {
  color: white;
}

.li a:hover,
.li a.active {
   color: violet;
}
