h2 {
    text-align: center;
    font-family: cursive;
  }

.section {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.product {
   margin: 25px 100px 50px 100px;
   border:10px;
   /* margin-left: 100px;
   margin-right: 100px; */
} 



.main-image {
  
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  object-fit: cover;
  transition: 1s;
}

.main-image img:hover {
  transform: scale(1.5,1.5);
}



.list{
  list-style-type: none;
  margin:0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.text{
  text-align: center;
font-style:inherit;
}