.contact-section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color:greenyellow;
  padding: 2rem;
  border-radius: 12px;
}

.contact-section h3{
    color:black;
    padding: 0;

}

.contact-name {
  text-align: left;
  font-weight: bolder;
  margin-bottom: 10px;
}

.contact-name input {
  width: 100%;
  
  margin: 5px 0px 10px 0px;
  height: 2rem;
  border-radius: 5px;
 
}

.contact-email {
  text-align: left;
  font-weight: bolder;
  margin-bottom: 10px;
}

.contact-email input {
  width: 100%;
  /* margin-bottom: 10px; */
  margin: 5px 0px 10px 0px;
  height: 2rem;
  text-align: top;
  border-radius: 5px;
}

.contact-number {
  text-align: left;
  font-weight: bolder;
}

.contact-number input {
  width: 100%;
  /* margin-bottom: 25px; */
  margin: 5px 0px 10px 0px;
  height: 2rem;
  border-radius: 5px;
}

.contact-section button{
    background-color: rgb(228, 231, 236);
    width: 5rem;
    border-radius: 8px;
}

.contact-section button:hover{
    background-color:lime;
    color:white
}